*{
  margin: 0;
  padding: 0;
}
/***********************************

HEADER

************************************/
.topp {
  margin: 0!important;
  background: #F15A29;
  margin-bottom: 0px;
  background-size: cover;
  min-height: 650px;
  background-repeat: no-repeat;
  color: white;
  max-width: 100%;
}

.main-menu li {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bold;
  font-style: italic;
}

.first1 {
    margin-bottom: 0px;
    background-image: url(../img/backgrounds/landing.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
  }

.jumbotron h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 1px;
  font-weight: 10;
  margin-bottom: 50px;
  margin-top: 40px;
}

.logo img {
  display: block;
  margin: auto;
  margin-top: 40px;
}

.menu2 {
  display: none;
}

/***********************************

NAV

************************************/
.topp{
  display: none;
}

.menu ul {
  line-height: 96px;
  margin: 0;
}

.menu li {
  list-style: none;
  color: #000;
  padding: 20px 0 20px 80px;
  margin: 20px 50px 20px 80px;
  font-size: 20px;
  text-align: left;
}

.menu li:hover {
  color: #fff;
}

.menu ul a {
  text-decoration: none;
}

.container-fluid {
  margin: 0;
}

.menu1 , .menu2 {
  margin-left: 40px;
  margin-top: 50px;
  padding: 6px;
  position: static;
}

.menu1:hover{
  background: rgb(102, 0, 51);
}

.menu2:hover{
  background: rgb(102, 0, 51);
}


.menu {
  display: inline;
}

/***********************************

FOODTOP

************************************/
.first-col {
   background: url('../images/44.jpg') no-repeat;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 184px;
    padding: 60px;
}

.second-col {
background: url('../img/foodtop/breakfast.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.second-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.third-col {
background: url('../img/foodtop/lunch.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.third-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.fourth-col {
background: url('../img/foodtop/dinner.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.fourth-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.ex {
  width: 100%!important;
  margin: 0 auto;
  padding: 0;
  padding-left:
}

.exx {
  margin: 0;
  padding: 0;

}


.ex h2 {
  color: #fff;
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.happy {
  background-color: lightgrey;
  height: 50%;
  margin: 0;
  padding: 30px;
}

.party {
  background-color: #F15A29;
  height: 50%;
  margin: 0;
  padding: 30px;
}


/***********************************

FAST FOODS

************************************/

.text1 {
  text-align: left;
  padding-left: 80px;
}

.text1 h2, h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bold;
}

.text2 h2, h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bold;
}

.text2 {
  text-align: right;
  padding-right: 80px;
}

.food1 {
  margin-bottom: 80px;
  border: 20px solid #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFF;
}

.food1 img {
  min-width: 100%;
}

.food1-1 {
  margin-top: 120px!important;

}


.food2-2 img {
  min-width: 100%;
}


.food2-2 {
  margin-bottom: 80px;
  margin-top: 20px;
  border: 20px solid #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFF;
  padding: 0;
}


p {
  color: darkgrey;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}

.drink1 {
  margin: 0;
  padding: 0;
}

.drink2 {
  margin: 0;
  padding: 0;
}

.gall {
  padding: 15px;
  border: 1px solid #F15A29;
  margin-right: 0;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
}

.gall:hover {
  background: #F15A29;
  color: #fff;
}

.glyphicon-arrow-right {
  margin-left: 10px;
  color: #F15A29;
}

/***********************************

FOODS

************************************/
.foodsBg {
    margin-bottom: 0px;
    margin-top: 40px;
    background-image: url(../img/backgrounds/foodsBg.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
  }

.main-rows {
  margin-top: 100px;
  margin-bottom: 100px;
  background: #fff;
  padding: 0;
}

.tab-content {
  background: #fff;
  margin-top: 0px;
}

.nav-tabs {

}

.tab-content img {
  width: 100%;
}

.cols {
  padding: 30px;
}

.cols p {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #F15A29;
}

.nav-tabs {
  background: lightgrey;
  font-family: 'Sorts Mill Goudy', serif;
  padding: 0px;

}

.nav-tabs li a {
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.7em;
  text-align: center;
  padding: 15px 102.75px;
  width: 100%;
  border-right: solid grey 1px;
}

  /***********************************

  CUSTOMERS

  ************************************/
  .customers {
      margin-bottom: 0px;
      background-color: #fff;
      background-size: cover;
      height: auto;
      background-repeat: no-repeat;
      color: white;
    }

  .cust {
    margin-top: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 30px 10px;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }

  .cust h4, p {
    color: #000;
  }

  .cust h3 {
    color: #F15A29;
  }


  .lft img {
    margin: 2px;
  }

.arrow {
  color: #F15A29;
  font-size: 20px;
}

.lft {
  border-right: 1px solid lightgrey;
}

  /***********************************

  SUBSCRIBE

  ************************************/

.subscribe {
    margin-top: 50px;
    margin-bottom: 0px;
    background-image: url(../img/backgrounds/subscribe.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 30px;
  }

.subscribe h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 80px;
}

.subscribe-form {
  margin-top: 20px;
  margin-bottom: 80px;
}

.subscribe-form input.email {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  outline: 0;
  border: 0;
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  width: 350px;
  height: 55px;
  margin-right: 15px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.subscribe-form input.button {
  background: #F15A29;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 250px;
  height: 55px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}
.subscribe-form .button-holder {
  text-align: left;
}
@media screen and (max-width: 992px) {
  .subscribe-form .button-holder {
    margin-top: 20px;
    text-align: center;
  }
}
.subscribe-form p {
  margin-top: 20px;
  font-size: 12px;
}
.subscribe-form ::-webkit-input-placeholder {
  color: #fff;
}
.subscribe-form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.subscribe-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.subscribe-form :-ms-input-placeholder {
  color: #fff;
}

.mail-1 {
  width: 350px;
  margin-right: 20px;
  text-align: center;
}

.default {
  width: 250px;
}

.subscribe-form input.button:hover {
  background: rgb(0, 153, 51);
}

.get {
   font-family: 'Sorts Mill Goudy', serif;
}

.row-form {
  padding-left: 50px;
}
    /***********************************

    FOOTER

    ************************************/
.footer {
    margin-bottom: 0px;
    background-color: #F15A29;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.footer-logo img {
  display: inline;
  margin: 2px;
}

.logo2 {
  text-align: center;
}

.logo2 a {
  margin: 15px;
  text-decoration: none;
}

.row-b {
  margin-top: 30px;
}

.row-c {
  margin-top: 70px;
  margin-bottom: 15px;
}

.row-c p {
  color: #fff;
}

.logo1 {
  padding-right: 25px;
}
.logo1 img {
  margin: 0 20px 0 4px;
}

.footer-logo h3 {
  text-align: center;
  margin-bottom: 25px;
}

.footer-logo p {
  color: #fff;
  margin-top: 3px;
}

.footer-p {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

.logo1 h2 {
  font-family: 'Rokkitt', serif;
  font-weight: bold;
  font-size: 45px;
  padding-top: 2px;
}

.footer-logo {
  margin-top: 40px;
}

.fa-facebook {
  color: #F15A29;
  padding: 10px;
  background-image: url(../img/footerlogos/facebook.png);
  width: 34px;
  background-size: cover;
  margin: 0;

}

.fa-twitter {
  color: #F15A29;
  padding: 10px;
  background-image: url(../img/footerlogos/twitter.png);
  background-size: cover;
  margin: 0;
  width: 34px;
}

.fa-pinterest {
  color: #F15A29;
  padding: 10px;
  background-image: url(../img/footerlogos/pinterest.png);
  width: 34px;
  background-size: cover;
  margin: 0;
}
