*{
  margin: 0;
  padding: 0;
}
/***********************************

HEADER

************************************/
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/backgrounds/landing.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
  }

.jumbotron h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Slabo 27px', sans-serif;
  letter-spacing: 1px;
  font-weight: 10;
  margin-bottom: 50px;
  margin-top: 40px;
}

.fa-bars {
font-weight: 10;
}

.logo img {
  display: block;
  margin: auto;
}


/***********************************

NAV

************************************/


/***********************************

FOODTOP

************************************/
.first-col {
   background: url('../images/44.jpg') no-repeat;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 184px;
    padding: 60px;
}

.second-col {
background: url('../img/foodtop/breakfast.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.second-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.third-col {
background: url('../img/foodtop/lunch.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.third-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.fourth-col {
background: url('../img/foodtop/dinner.jpg') no-repeat;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 background-size: 100% auto;
 height: 184px;
 padding: 60px;
}

.fourth-col:hover {
  opacity: 0.5;
transition: opacity .2s ease-out;
-moz-transition: opacity .2s ease-out;
-webkit-transition: opacity .2s ease-out;
-o-transition: opacity .2s ease-out;
}

.ex {
  width: 100%!important;
  margin: 0 auto;
  padding: 0;
  padding-left:
}

.exx {
  margin: 0;
  padding: 0;
}


.ex h2 {
  color: #fff;
  text-align: center;
}

.happy {
  background-color: lightgrey;
  height: 50%;
  margin: 0;
  padding: 30px;
}

.party {
  background-color: #F15A29;
  height: 50%;
  margin: 0;
  padding: 30px;
}


/***********************************

FAST FOODS

************************************/
.text1 {
  text-align: left;
  padding-left: 80px;
}

.text2 {
  text-align: right;
  padding-right: 80px;
}

.food1 {
  margin-bottom: 80px;
  border: 20px solid #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFF;
}

.food1 img {
  min-width: 100%;
}

.food1-1 {
  margin-top: 120px!important;

}


.food2-2 img {
  min-width: 100%;
}


.food2-2 {
  margin-bottom: 80px;
  border: 20px solid #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFF;
  padding: 0;
}


p {
  color: darkgrey;
  font-size: 16px;
  line-height: 24px;
}

.drink1 {
  margin: 0;
  padding: 0;
}

.drink2 {
  margin: 0;
  padding: 0;
}


/***********************************

FOODS

************************************/
.foodsBg {
    margin-bottom: 0px;
    margin-top: 40px;
    background-image: url(../img/backgrounds/foodsBg.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    color: white;
  }

.well-p {
  margin-top: 100px;
}

  /***********************************

  CUSTOMERS

  ************************************/
  .customers {
      margin-bottom: 0px;
      background-color: #fff;
      background-size: cover;
      height: auto;
      background-repeat: no-repeat;
      color: white;
    }

  .cust {
    margin-top: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }

  .cust h4, p {
    color: #000;
  }

  .cust h3 {
    color: #F15A29;
  }

  .lft {
    float: left;
    margin-right: px;
    padding: 0;
    min-width: 60%;
    letter-spacing: 1px;
    display: table-cell;
    overflow: hidden;
  }

  .lft img {
    margin: 2px;
  }

.arrow {
  color: #F15A29;
  font-size: 20px;
}

  .rgt {
    padding: 0;
    padding-left: 30px;
    padding-right: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    display: table-cell;
    min-width: 40%;
    text-align: center;
    overflow: hidden;
    border-left: solid 1px lightgrey;
  }

  /***********************************

  SUBSCRIBE

  ************************************/



  .subscribe {
    margin-top: 20px;
      margin-bottom: 0px;
      background-image: url(../img/backgrounds/subscribe.jpg);
      background-size: cover;
      height: auto;
      background-repeat: no-repeat;
      color: white;
    }


    /***********************************

    FOOTER

    ************************************/
.footer {
    margin-bottom: 0px;
    background-color: #F15A29;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.footer-logo img {
  display: inline;
  margin: auto;
}

.logo2 {
  text-align: center;
}

.logo2 a {
  margin: 10px;
}

.logo1 {
  text-align: center;
  padding-top:80px;
  display: inline;
}

.logo1 img {
  margin: 18px;
}

.footer-logo h3 {
  text-align: center;
  margin-bottom: 25px;
}

.footer-logo p {
  color: #fff;
  margin: 50px;
}
